<template name="footer">
	<footer class="page-footer indigo">
		<div class="container">
			<div class="row">
				<div class="col l9 s12">
					<h5 class="white-text">About YADJ</h5>
					<p class="grey-text text-lighten-4"></p>
				</div>
				<div class="col l3 s12">
					<h5 class="white-text">Connect</h5>
					<ul>
						<li><a class="white-text" href="#!">Twitter</a>
						</li>
						<li><a class="white-text" href="#!">Facebook</a>
						</li>
						<li><a class="white-text" href="#!">Github</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer-copyright">
			<div class="container">
				Made by <a class="indigo-text text-lighten-3" href="http://darrengilbert.rocks">Darren Gilbert</a>
			</div>
		</div>
	</footer>

</template>